@{
    ViewData["Title"] = "Home Page";
}

<div class="text-left">
    <h1 class="display-4">Проект ShopOnline</h1>
    <h2>Персаев Станислав</h2>
    <ul>
        <li>
            25.02.2025
            <ul>
                <li>Создание модели</li>
                <li>Создание контроллера</li>
                <li>Создание представления</li>
                <li><a asp-controller="User" asp-action="Index"> Создание класса пользователь с полями: имя, логин, пароль, телефон. Создание полного MVC  для отображения информации о пользователе</a></li>
            </ul>
        </li>
        <li>4.02.2025
        </li>
    </ul>
</div>
