@model UserViewModel

<div class="row">
	<div class="col">
		<p><span class="text-secondary">Имя:</span> @Model.Name</p>
		<p><span class="text-secondary">Логин:</span> @Model.Name</p>
		<p><span class="text-secondary">Телефон:</span> @Model.Name</p>
		<p><span class="text-secondary">Пароль:</span> @Model.Name - конфиденциально</p>
	</div>
</div>